.bg-light {
    color: white;
    background-color: #140D4F !important;
}


.navbar {
    border: 1px solid black;
    background-color: #4EA699 !important;
}

.nav-link:hover {
    background-color:#2DD881;
}

body {
    background-color: #140D4F;
}

.nav-link,
h1 {
   color: #6FEDB7 !important;
}

footer {
    background-color:  #2DD881;
}

.valittu {
    color: white !important;
}
section {
    background-color:#6FEDB7;
}

img {
    border: 2px solid #140D4F;
    max-width: 100%;
    max-height: 100%;

}

.kuvat {
    height: 250px;
}
address{
    color: blue;
}

.wikipedia{
    color: darkblue !important;
}

.tausta{
    background-color: #4EA699 !important;
}
.tausta2{
    background-color: #2DD881 !important;
}

.fa-question-circle{
    color: rgb(0, 167, 223);
    
}
.valittu {
    background-color: blue;
}

.laitti {
    width: auto;
    height: auto;
}

figure {
    text-align: center;
}
/*#4EA699 #140D4F #6FEDB7; #6FEDB7*/